{% extends 'instructor/base.html' %}
{% load static %}

{% block title %}Records {% endblock %}

{% block content %}

<section class="banner inner-page">
        	<div class="banner-img"><img src="{% static 'images/banner/quiz.jpg' %}" alt=""></div>
            <div class="page-title">
	            <div class="container">
                    <h1>Quiz Result</h1>
                </div>
            </div>
        </section>
        <section class="breadcrumb white-bg">
        	<div class="container">
            	<ul>
                	<li><a href="/instructor">Home</a></li>
                    <li><a href="/instructor/quiz-list">Quiz</a></li>
                </ul>
            </div>
        </section>
        <section class="quiz-view">
        	<div class="container">
                <div class="quiz-title">
                    <h2>{{ model.title }}</h2>
                </div>
                <div class="row">

                    <div>
                    	<div class="quiz-result">

                            <div class="leaderboard">
                            	<h3>All Records</h3>

                              <div class="qustion-review">
                                        <p><strong>USERNAME</strong><span><strong>SCORE</strong></span></p>
                                    </div>

                                {% for record in records %}
                                    <div class="qustion-review">
                                        <p>{{ record.user }}<span>{{ record.score }}</span></p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}